/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

/* form-componet */

.form-div{
  width: 80%;
  margin: 0 auto;
}

.login-form .fieldset-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.login-form .fieldset-row .input-label{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 5px;
  color: #122B3d;
  font-weight: 600;
}

.login-form .fieldset-row .form-input{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 5px;
  color: #122B3d;
  font-weight: 500;
  padding: 10px 20px;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #000;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.login-form .submit-btn{
  text-align: center;
    display: block;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 12px;
    margin: 0 auto;
}

